<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1><%=farm.name%></h1>
        <h2>Add a Product</h2>

        <div>
            <form action='/farms/<%=farm._id%>/products' method="post">
                <label for="name">Product Name</label>
                <input type="text" name="name" id="name" placeholder="product name">
                <br>
                <label for="price">Price</label>
                <input step="0.01" type="number" id="price" name="price">
                <br>
                <label for="category">Category</label>
                <select id="category" name="category">
                    <%for(let cat of categories) {%>
                        <option value='<%=cat%>''><%=cat%></option>
                    <%}%>
                </select>
                <button>Submit</button>
            </form>
        </div>
        <a href="/farms/<%=farm._id%>/index">Back</a>
        
        <script src="" async defer></script>
    </body>
</html>